.cart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.cart-list {
  font-family: "MarkaziText";
  font-size: calc(1rem + 1vw);
  font-weight: 500;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 10vw));
  place-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.cart-item {
  font-family: "Karla";
  font-size: calc(0.6rem + 0.5vw);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 10vw));
  place-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.item-quantity {
  background-color: lightgrey;
  padding: 4px 14px;
  border: 1px solid black;
}
.cart-container {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: auto;
}
.cart-title {
  margin: 0 10px;
  font-family: "MarkaziText";
}
.cart-subtotal,
.cart-shipping,
.cart-total {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  font-family: "Karla";
}
.cart-button-cart {
  background-color: #f4ce14;
  padding: 8px;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  font-family: "Karla";
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #000;
}
