/* MOBILE - VIEW */

@media (max-width: 992px) {
  /* .articleCardsContainer {
    width: 90vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 16px;
    background: #495e57;
    margin-bottom: 12px;
  }

  .cardTitle {
    color: #f4ce14;
    font-family: "MarkaziText";
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-style: normal;
    margin-bottom: 5px;
  }

  .cardDesc {
    font-family: "Karla";
    color: #edefee;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    margin-right: 25px;
    max-height: 3.6em;
    max-width: 25vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .cardImg {
    margin-bottom: 5px;
    margin-top: 24px;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    border: 1px solid #edefee;
  }

  .cardSection {
    display: flex;
    flex-direction: column;
    width: auto;
    border-bottom: 1px solid #edefee;
  }

  .priceAndCart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
  }
  .item-price {
    font-size: 1.5rem;
    color: #f4ce14;
    font-family: "Karla";
  }
  .cart-button {
    padding: 8px;
    height: 50px;
    width: 85px;
    font-size: 1rem;
    text-align: center;
    font-family: "Karla";
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  } */

  .cardTitle {
    color: #f4ce14;
    font-family: "MarkaziText";
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-style: normal;
    margin-bottom: 5px;
  }

  .cardDesc {
    font-family: "Karla";
    color: #edefee;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    max-height: 3.6em;
    max-width: 25vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: center;
  }
  .articleCardsContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 49%));
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    gap: 3px;
    margin: 50px 0;
  }
  .cardSection {
    background: #495e57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    border-bottom: 1px solid #edefee;
    border-radius: 10px;
  }

  .cardImg {
    margin-bottom: 5px;
    margin-top: 24px;
    border-radius: 16px;
    width: 95%;
    height: 187px;
    border: 1px solid black;
  }

  .priceAndCart {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }

  .item-price {
    font-size: 1.5rem;
    color: #f4ce14;
    font-family: "Karla";
  }
  .cart-button {
    background-color: #f4ce14;
    padding: 8px;
    height: 50px;
    width: 90%;
    font-size: 1rem;
    text-align: center;
    font-family: "Karla";
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #000;
  }
}

/* DESKTOP - VIEW */

@media (min-width: 992px) {
  .priceAndCart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
  }
  .item-price {
    font-size: 1.5rem;
    color: #edefee;
    font-family: "Karla";
  }
  .cart-button {
    padding: 8px;
    height: 50px;
    width: 85px;
    font-size: 1rem;
    text-align: center;
    font-family: "Karla";
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f4ce14;
  }

  .cardImg {
    height: 200px;
    width: 100%;
  }

  .articleCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .cardSection {
    margin: 8px;
    background-color: #495e57;
    border: 1px solid black;
    border-radius: 16px;
    max-width: 200px;
    min-width: 200px;
  }

  .cardSection:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

  .cardTitle {
    line-height: normal;
    font-family: "MarkaziText";
    font-size: 24px;
    font-weight: 400;
    color: #f4ce14;
    text-align: center;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
  }

  .cardDesc {
    font-family: "Karla";
    color: #edefee;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 30px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
  }
}
