/* MOBILE - VIEW */

@media (max-width: 992px) {
  .articleCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 16px;
    background: #495e57;
    margin-bottom: 12px;
    max-width: 380px;
  }

  .cardTitle {
    color: #f4ce14;
    font-family: "MarkaziText";
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-style: normal;
    margin-bottom: 5px;
  }

  .cardDesc {
    font-family: "Karla";
    color: #edefee;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    margin-right: 25px;
    max-height: 3.6em;
    max-width: 25vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .cardImg {
    margin-bottom: 5px;
    margin-top: 24px;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    border: 1px solid #edefee;
  }

  .cardSection {
    display: flex;
    flex-direction: row;
    width: auto;
    border-bottom: 1px solid #edefee;
  }
}

/* DESKTOP - VIEW */

@media (min-width: 992px) {
  .cardImg {
    height: 200px;
    width: 100%;
  }

  .articleCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  section {
    margin: 8px;
    background-color: #495e57;
    border: 1px solid black;
    border-radius: 16px;
    max-width: 200px;
    min-width: 200px;
  }

  section:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .cardTitle {
    line-height: normal;
    font-family: "MarkaziText";
    font-size: 24px;
    font-weight: 400;
    color: #f4ce14;
    text-align: center;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
  }

  .cardDesc {
    font-family: "Karla";
    color: #edefee;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 30px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
  }
}
