.navLogos {
  width: 35px;
}
ul > li {
  display: inline;
}

.nav {
  display: flex;
  justify-content: center;
}

ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: "MarkaziText";
  font-size: 20px;
  padding: 16px;
  background-color: #fff;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
}

ul {
  margin: 0;
  padding: 16px;
}

.nav {
  transition: transform 0.5s ease-in-out;
}

.hidden {
  transform: translateX(-100%);
}

@media (min-width: 992px) {
  .nav {
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -63px;
    margin-bottom: 7px;
  }
}
