/* MOBILE */
@media (max-width: 992px) {
  .navLogos {
    width: 30px;
  }
  ul > li {
    display: inline;
  }
  ul li a {
    padding: 12px;
  }
  ul {
    margin-right: 44px;
  }
  .nav {
    display: flex;
    flex-direction: column; /* eller 'row' om du vill ha det horisontellt */
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-100%); /* Startar dold */
    position: fixed; /* Fixerad position */
    top: 0; /* Vid toppen av sidan */
    left: 0;
    right: 0;
    background: #fff; /* Bakgrundsfärg */
    /* Lägg till andra stilar som behövs för din nav */
    z-index: 100; /* Högre än andra element */
  }

  .nav.hidden {
    transform: translateY(0); /* Flyttas till synlig position */
  }
}

/* ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: "MarkaziText";
  font-size: 20px;
  padding: 16px;
  background-color: #fff;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
} */

/* DESKTOP */
@media (min-width: 992px) {
  .navLogos {
    width: 35px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -63px;
    margin-bottom: 7px;
  }

  ul > li {
    display: inline;
  }
  ul li a {
    padding: 16px;
  }
  ul {
    margin: 0;
    padding: 16px;
  }
  .navLogos:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
}
