.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.burgerButton {
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;
}

.basketButton {
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;
}

.basketButton:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.headerLogo {
  padding: 5px 15px 5px 15px;
  width: 120px;
}

.headerLogo:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 992px) {
  .burgerButton {
    display: none;
  }
}
