.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 6px 5px;
}

.burgerButton {
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;
}
.itemCountStyle {
  position: absolute;
  top: -4px;
  right: -3px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.basketButton {
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.basketButton:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.headerLogo {
  padding: 5px 15px 5px 15px;
  width: 120px;
}

.headerLogo:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 992px) {
  .burgerButton {
    display: none;
  }
}
